<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HoaPortalApp.Mvc</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HoaPortalApp.Mvc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/Calendar/calendar.js.css">
    <link rel="stylesheet" href="~/js/jstree/themes/default/style.min.css" />
    <script src="~/js/Calendar/calendar.js"></script>
    <script src="~/js/jstree/jstree.min.js"></script>
</head>
<body>
    <div class="nowrap-container">
        <!-- Sidebar -->
        <nav class="sidebar">
            <div class="sidebar-header">
                <h2>Your Name Here</h2>
            </div>
            <ul class="nav-links">
                <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                <li><a href="@Url.Action("ContactInfo", "Home")">My Contact Info</a></li>
                <li><a href="@Url.Action("Payments", "Home")">Billing</a></li>
                <li><a href="@Url.Action("MyItems", "Home")">My Items</a></li>
                <li><a href="@Url.Action("CalendarAndEvents", "Home")">Calendar & Events</a></li>
                <li><a href="@Url.Action("Directory", "Home")">Directory</a></li>
                <li><a href="@Url.Action("Documents", "Home")">Documents</a></li>
            </ul>
        </nav>

        <!-- Main Content -->
        <div class="main-content">
            <div class="header"
                <header>
                    <div class="property-address">
                        <p>Property Address: <strong>Your Property Address Here</strong></p>
                    </div>
                    <div class="logout">
                        <p><a href="#">Log Out</a></p>
                    </div>
                </header>
            </div>
        
        <div class="content-section">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HoaPortalApp.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
